<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>pWeb-by samaraSilva</title>
  <link th:href="@{/assets/favicon.ico}" rel="icon" type="image/x-icon" />
  <link th:href="@{/assets/w3.css}" rel="stylesheet" />
  <link th:href="@{/assets/pico.min.css}" rel="stylesheet" />
  <meta codigoSecreto="1784725208">
</head>

<body>
  <div class="w3-bar w3-black w3-xlarge">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Início</a>
    <a href="/adicionarPessoa" class="w3-bar-item w3-button">Adicionar pessoa</a>
    <a href="/listarPessoas" class="w3-bar-item w3-button w3-mobile">Listar pessoas</a>
    <a href="/public/noticias.html" class="w3-bar-item w3-button w3-mobile w3-right">Notícias</a>
    <a href="/public/sobre.html" class="w3-bar-item w3-button w3-mobile w3-right w3-red">Sobre o site</a>
    <a href="/public/contato.html" class="w3-bar-item w3-button w3-mobile w3-right">Contato</a>
  </div>
  <div class="w3-display-container" style="height: 90vh; text-align: center">
    <div class="w3-display-middle">
      <h1>Hidrate-se!</h1>
      <img src="/assets/agua.jpg" alt="um copo de água"/>
    </div>
</body>

</html>